<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.43.0/dist/full.css" rel="stylesheet" type="text/css" />
    <title>ONGC|Home</title>
</head>
<body class="overflow-hidden">
    <div class="fixed navbar bg-red-800">
        <div class="flex-1">
            <img class="h-12 w-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6e0GlvpFhLzztcgI1Rlg2HKpr4VQwLaspLpZh9iI&s" alt="Icon">
            <a class="btn btn-ghost normal-case text-xl" href="#">ONGC</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
    <div class="hero min-h-[95vh]" style="background-image: url(https://ongcindia.com/documents/77751/3254472/corporate-profile-videsh.jpg/753826de-9bb3-9c07-d81c-c6db190dac48?t=1661936430273);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-xl">
                <h1 class="mb-5 text-5xl text-white font-bold">Come Intern with Us!!</h1>
                <p class="mb-5 text-white-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non placeat iure atque at eum quo sed, voluptates iste, in sunt consequuntur. Aliquid amet exercitationem perspiciatis eveniet quia? Dolor, laboriosam temporibus?.</p>
                <a href="register" class="btn btn-primary bg-red-700" type="submit">Register Here</a>
            </div>
        </div>
    </div>
    <footer class=" footer footer-center p-4 bg-base-300 text-base-content">
        <div>
            <p>Copyright © 2022 - All right reserved by ONGC Industries Ltd</p>
        </div>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>